/*
 * VITTORIA Responsive styles
 */

@media only screen and (max-width: 1300px) {

.w-blog.type_masonry .w-blog-entry {
	width: 33.3%;
	}

.w-clients {
	padding: 0 40px;
	}
	.w-clients-nav.to_next {
		right: -60px;
		}
	.w-clients-nav.to_prev {
		left: -60px;
		}
}


@media only screen and (max-width: 1023px) {

.l-subheader.at_top {
	height: auto;
	text-align: center;
	}
	.l-subheader.at_top .w-lang,
	.l-subheader.at_top .w-socials {
		float: none;
		display: inline-block;
		vertical-align: top;
		margin: 0 10px;
		}
	.l-subheader.at_top .w-contacts {
		float: none;
		display: inline-block;
		vertical-align: top;
		margin: 0;
		}

.l-subheader.at_middle {
	height: auto;
	line-height: 80px;
	}
	.w-logo {
		height: 80px;
		}
		.w-logo-img {
			max-height: 60px;
			}
	.l-subheader.at_middle .w-nav-control {
		top: -80px;
		}
	
.no-touch .l-subheader.at_middle .w-nav-anchor.level_1:after {
	top: -23px;
	}
	.no-touch .l-subheader.at_middle .w-nav-item.level_1:hover .w-nav-anchor.level_1:after {
		top: -27px;
		}

.l-canvas.headerpos_fixed .l-header {
	position: relative;
	}
.l-canvas.headerpos_fixed .l-main {
	padding-top: 0;
	}
	.l-canvas.headerpos_fixed.headertype_extended .l-main {
		padding-top: 0;
		}

.l-submain {
	padding-top: 40px;
	padding-bottom: 40px;
	}
	.l-submain.for_pagehead {
		padding-top: 16px;
		padding-bottom: 18px;
		}
	.l-subsection.full_height {
		padding-top: 0;
		padding-bottom: 0;
		}
	.l-submain.parallax_ver .l-submain-bg {
		background-position: center center !important;
		}
		
.l-subfooter.at_top {
    padding-top: 40px;
    padding-bottom: 10px;
	}
.l-subfooter.at_bottom {
    padding-top: 25px;
    padding-bottom: 0;
	text-align: center;
	}
	.l-subfooter.at_bottom .w-copyright,
	.l-subfooter.at_bottom .w-nav {
		float: none;
		margin-bottom: 20px;
		}
		.l-subfooter.at_bottom .w-nav-list {
			display: inline-block;
			}
			
.g-html h1 {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 20px;
	}
.g-html h2 {
	font-size: 26px;
	line-height: 36px;
	margin-bottom: 20px;
	}
.g-html h3 {
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 20px;
	}
.g-html h4 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 20px;
	}
.g-html h5 {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 20px;
	}
.g-html h6 {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;
	}
	
.g-html p {
	margin-bottom: 20px;
	}

.g-hr {
    margin: 30px 0;
	}
	.g-hr.size_small {
		margin: 20px 0;
		}
	.g-hr.size_big {
		margin: 40px 0;
		}
	.g-hr.size_huge {
		margin: 50px 0;
		}
	.g-hr.type_invisible {
		margin: 10px 0;
		}
		.g-hr.type_invisible.size_small {
			margin: 0;
			}
		.g-hr.type_invisible.size_big {
			margin: 20px 0;
			}
		.g-hr.type_invisible.size_huge {
			margin: 30px 0;
			}
		
.g-btn.size_big,
input.g-btn.size_big,
button.g-btn.size_big {
	padding: 12px 36px;
	font-size: 15px;
	}
	
.w-blog.type_masonry .w-blog-entry {
	width: 49.9999%;
	}
	
.w-blog-entry {
	margin-bottom: 25px;
	padding-bottom: 25px;
	}

.w-portfolio.columns_5 .w-portfolio-item,
.w-portfolio.columns_4 .w-portfolio-item {
	width: 33.3333333333333%;
	}
	
.flex-direction-nav .flex-prev {
	left: 10px;
	}
.flex-direction-nav .flex-next {
	right: 10px;
	}
}


@media only screen and (max-width: 899px) {

.l-sidebar {
	float: none !important;
	width: 100% !important;
	}
.l-content {
	float: none !important;
	width: 100% !important;
	padding-bottom: 30px;
	}
	
.g-cols > .one-half,
.g-cols > .one-third,
.g-cols > .two-sixths,
.g-cols > .two-thirds,
.g-cols > .four-sixths,
.g-cols > .one-quarter,
.g-cols > .one-fourth,
.g-cols > .three-quarters,
.g-cols > .three-fourths {
	margin-bottom: 30px;
	margin-left: 0;
	width: 100%;
	}

.w-pagehead p {
	display: none;
	}

.w-portfolio.columns_5 .w-portfolio-item,
.w-portfolio.columns_4 .w-portfolio-item,
.w-portfolio.columns_3 .w-portfolio-item {
	width: 50%;
	}
}


@media only screen and (max-width: 767px) {

.l-subfooter.at_top {
    padding-bottom: 5px;
	}
	.l-subfooter.at_top .g-cols > div {
		margin-bottom: 10px;
		}
		
.g-pagination-item {
	line-height: 40px;
	height: 40px;
	width: 40px;
	}
	.g-pagination-item.to_next {
		padding: 0 25px 0 10px;
		}
		.g-pagination-item.to_next:before {
			right: 10px;
			}
	.g-pagination-item.to_prev {
		padding: 0 10px 0 25px;
		}
		.g-pagination-item.to_prev:before {
			left: 10px;
			}
			
.w-actionbox {
	padding: 20px;
	}

.w-filters-item {
	font-size: 13px;
	}
	.w-filters-item-link {
		height: 42px;
		line-height: 42px;
		padding: 0 10px;
		}
		
.w-pagehead.type_row .g-breadcrumbs {
	float: none;
	clear: both;
	text-align: left;
	margin: 8px -4px 0;
	}

.l-subheader.at_middle .w-search-input input {
	font-size: 4em;
	}

.page-404 i {
	font-size: 100px;
	}
	
.w-toplink {
	display: none;
	}
	
}


@media only screen and (max-width: 599px) {

.l-submain,
.l-subheader.at_top,
.l-subheader.at_middle,
.l-subfooter.at_top,
.l-subfooter.at_bottom,
.l-submain.for_pagehead {
	padding-left: 25px;
	padding-right: 25px;
	}
	
.l-subheader.at_middle {
	line-height: 60px;
	}
	.w-logo {
		height: 60px;
		}
		.w-logo-img {
			max-height: 40px;
			}
		.w-logo-title {
			font-size: 26px;
			}
	.l-subheader.at_middle .w-nav-control {
		top: -60px;
		}
	
.l-submain {
	padding-top: 25px;
	padding-bottom: 25px;
	}
	
.l-subfooter.at_bottom .w-nav.layout_hor > .w-nav-list > .w-nav-item {
	float: none;
	margin-bottom: 10px;
	}
	
.l-subheader.at_middle .w-search-label {
	font-size: 1.2em;
	}
.l-subheader.at_middle .w-search-input input {
	font-size: 2.2em;
	}
	
.g-html h1 {
	font-size: 26px;
	line-height: 36px;
	margin-bottom: 16px;
	}
.g-html h2 {
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 16px;
	}
.g-html h3 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 16px;
	}
.g-html h4 {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 16px;
	}
.g-html h5 {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 16px;
	}
.g-html h6 {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 16px;
	}
	
.g-html p {
	margin-bottom: 16px;
	}
	
.g-hr {
    margin: 15px 0;
	}
	.g-hr.size_small {
		margin: 5px 0;
		}
	.g-hr.size_big {
		margin: 25px 0;
		}
	.g-hr.size_huge {
		margin: 35px 0;
		}
	.g-hr.type_invisible {
		margin: 5px 0;
		}
		.g-hr.type_invisible.size_small {
			margin: 0;
			}
		.g-hr.type_invisible.size_big {
			margin: 10px 0;
			}
		.g-hr.type_invisible.size_huge {
			margin: 15px 0;
			}
	
.w-blog.type_masonry .w-blog-entry {
	width: 100%;
	}
	
ul.flex-direction-nav,
.tp-leftarrow.default,
.tp-rightarrow.default {
	display: none;
	}
}


@media only screen and (max-width: 479px) {

.l-submain,
.l-subheader.at_top,
.l-subheader.at_middle,
.l-subfooter.at_top,
.l-subfooter.at_bottom,
.l-submain.for_pagehead {
	padding-left: 20px;
	padding-right: 20px;
	}
	
.l-subheader.at_top {
	line-height: 30px;
	}

.w-actionbox.controls_aside .w-actionbox-controls {
	white-space: normal;
	}
	.w-actionbox-button.g-btn,
	.w-actionbox.controls_aside .w-actionbox-button.g-btn {
		margin: 4px;
		}

.w-logo-img {
	height: auto !important;
	max-width: 150px;
	}
.w-logo-title {
	font-size: 20px;
	}
	
.w-pagehead .g-breadcrumbs {
	display: none;
	}
.w-pagehead.type_row .w-pagehead-nav {
	float: none;
	clear: both;
	}
	
.w-search ~ .w-nav .w-nav-control {
	right: 36px;
	}

.w-portfolio.columns_5 .w-portfolio-item,
.w-portfolio.columns_4 .w-portfolio-item,
.w-portfolio.columns_3 .w-portfolio-item,
.w-portfolio.columns_2 .w-portfolio-item {
	width: 100%;
	}
}
